* {
  /* reset CSS */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .item {
  width: 100px;
  height: 100px;
  background-color: red;
  animation-name: ani;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: backwards;
  animation-delay: 5s;
} */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #0e1538;
}

button {
  background-color: transparent;
  padding: 15px 45px;
  font-size: 25px;
  color: #fff;
  cursor: pointer;
  border: none;
  transition: all 0.5s;
  position: relative;
  overflow: hidden;
  margin: 0 15px;
}

.button-real {
  position: absolute;
  top: 3px;
  right: 3px;
  left: 3px;
  bottom: 3px;
  background-color: #0e1538;
  display: flex;
  justify-content: center;
  align-items: center;
}

.animation {
  position: absolute;
  right: 40px;
  left: 40px;
  top: -90px;
  bottom: -90px;
  background-color: #ff22bb;
  animation-name: around;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

button:hover {
  background-color: #ff22bb;
  box-shadow: 0px 0px 50px 20px #ff22bb;
}

button:hover .button-real {
  background-color: #ff22bb;
}

button:nth-child(2) .animation {
  background-color: #00ccff;
}

button:nth-child(2):hover {
  background-color: #00ccff !important;
}

@keyframes around {
  to {
    transform: rotate(360deg);
  }
}
